{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-lg mx-auto">
    <div class="py-5 border-b border-grey-500 mb-5"><a class="hover:text-blue-500 mb-3" href="{% url 'signup' %}" >Don't have an account?</a></div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-white" type="submit">Login</button>
    </form>
    <div class="py-5 border-t border-grey-500 mt-5"><a class="hover:text-blue-500 mt-3" href="{% url 'password-reset' %}" >Forgot password ?</a></div>
</div>
{% endblock content %}